/* You can add global styles to this file, and also import other style files */

@import '~bootstrap/dist/css/bootstrap.min.css';

input.ng-touched.ng-invalid{
    border-color: crimson;
}


body{
    background: url("assets/img/casino_bg.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    background-position-y: -10inch;
}

div.validationError {
    width: 100%;
    margin-top: .25em;
    font-size: 80%;
    color: #dc3545;
}