<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light"> -->
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <a class="navbar-brand" routerLink="/home"><img class="rouletteLogo" src="../../assets/img/roulette_client.png"
            alt="casino_logo">
        Roulette</a>

    <!-- <div class="collapse navbar-collapse" id="navbarSupportedContent"> -->
    <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <a class="nav-link" routerLink="/home">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" routerLink="/play">Play <span class="sr-only">(current)</span></a>
        </li>
    </ul>
    <div *ngIf="accountBalance != null">
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Welcome {{customerName}}!!
            </button>
            <div class="dropdown-menu" style="width:100%" aria-labelledby="dropdownMenuButton">
                <!-- <a class="dropdown-item disabled" href="#">{{customerName}}</a> -->
                <a class="dropdown-item disabled" href="#"><strong>Account Balance:</strong></a>
                <a class="dropdown-item disabled" href="#">{{accountBalance}}</a>
                <div class="dropdown-divider"></div>
                <button class="dropdown-item" (click)=onLogout()>Logout</button>
            </div>
        </div>
    </div>
    <!-- </div> -->
</nav>
<router-outlet></router-outlet>