.card_img{
    width: 50px;
    height: 20px;

}

.about_us{
    color: white;
}

.rules_button{
    text-align:center;
}

.user_icon{
    width: 110%;
    /* height: 10%; */
    /* align-items: center; */
}

.roullte_text{
    font-size: 50px;
  /* color: #fff; */
  text-align: center;
    /* font-size: 3rem; */
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
}

.roullte_text_large{
    font-size: 70px;
    color: #fff;
    text-align: center;
      /* font-size: 3rem; */
      -webkit-animation: glow 1s ease-in-out infinite alternate;
      -moz-animation: glow 1s ease-in-out infinite alternate;
      animation: glow 1s ease-in-out infinite alternate;
  }

@-webkit-keyframes glow {
    from { 
        text-shadow:0010px#fff, 0020px#fff,
        0030px#e60073, 0040px#e60073, 0050px#e60073, 0060px#e60073, 0070px#e60073;  
    }
    
    to {
        text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px
            #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
}