<div class="card" style="width: 18rem; margin: auto;">
    <img src="../../../assets/img/casino-login.png">
    <div class="card-body">
        <h5 class=" col-12 text-center card-title">LOGIN</h5>
        <label class="col-12 text-center">Enter Unique User ID (sdf68198sdf7)</label>
        <form #form="ngForm" (submit)=onSubmit(form) autocomplete="off">
            <div class="form-group">
                <input type="text" name="customerID" #customerID="ngModel" [(ngModel)]="loginFormData.customerID"
                    class="form-control col-12 text-center" required>
            </div>

            <div class=" col-12 text-center validationError" *ngIf="customerID.invalid && customerID.touched">
                *This field is mandatory.</div>

            <div class=" col-12 text-center form-group">
                <button type="submit" [disabled]="form.invalid" class="btn btn-lg btn-block">Start Playing</button>
            </div>

            <div class=" col-12 text-center validationError" *ngIf="isInvalidUser">*Invalid UserID...Please try Again!!
            </div>
        </form>
    </div>
</div>