<div class="row text-center no-gutters">
    <div class="col-8">

        <img class="roulette_board" alt="roulette_board" src="../../../assets/img/roulette_board.png">

    </div>
    <div class="col card selectionPanel">

        <div class="col-sm"></div>


        <div class="alert alert-success" *ngIf="insufficientBalError==null">Place your bet!!</div>
        <div class="alert alert-danger" role="alert" *ngIf="insufficientBalError!=null">
            <strong>{{insufficientBalError}}</strong> Lower your Bet Amount.
        </div>



        <div class="form-group">
            <div class="col-sm">
                <label class="control-label col-sm-4">1st 12</label>
                <input class="sizeSmall" type="number" min="0" value="0" id="1" name="first12" step="500"
                    onkeydown="return false" [(ngModel)]="valueZero[1]" (mouseup)="callMe($event)">
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm">
                <label class="control-label col-sm-4">2nd 12</label>
                <input class="sizeSmall" type="number" min="0" value="0" id="2" name="second12" step="500"
                    onkeydown="return false" [(ngModel)]="valueZero[2]" (mouseup)="callMe($event)">
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm">
                <label class="control-label col-sm-4">3rd 12</label>
                <input class="sizeSmall" type="number" min="0" value="0" id="3" name="last12" step="500"
                    onkeydown="return false" [(ngModel)]="valueZero[3]" (mouseup)="callMe($event)">
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm">
                <label class="control-label col-sm-4"> 0 </label>
                <input class="sizeSmall" type="number" min="0" value="0" id="4" name="zero" step="500"
                    onkeydown="return false" [(ngModel)]="valueZero[4]" (mouseup)="callMe($event)">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm">
                <label class="control-label col-sm-4">1 to 18</label>
                <input class="sizeSmall" type="number" min="0" value="0" id="5" name="first18" step="500"
                    onkeydown="return false" [(ngModel)]="valueZero[5]" (mouseup)="callMe($event)">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm">
                <label class="control-label col-sm-4">19 to 36</label>
                <input class="sizeSmall" type="number" min="0" value="0" id="6" name="last18" step="500"
                    onkeydown="return false" [(ngModel)]="valueZero[6]" (mouseup)="callMe($event)">
            </div>
        </div>


        <div class="form-group">
            <div class="col-sm">
                <label class="control-label col-sm-4">Even</label>
                <input class="sizeSmall" type="number" min="0" value="0" id="7" name="even" step="500" onkeydown="
                        return false" [(ngModel)]="valueZero[7]" (mouseup)="callMe($event)">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm">
                <label class="control-label col-sm-4">Odd</label>
                <input class="sizeSmall" type="number" min="0" value="0" id="8" name="odd" step="500"
                    onkeydown="return false" [(ngModel)]="valueZero[8]" (mouseup)="callMe($event)">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm">

                <button type="button" class="btn btn-lg btn-block bg-dark play_button" data-toggle="modal"
                    data-target="#exampleModalLong">
                    Play
                </button>

            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalLongTitle" aria-hidden="true" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Try Your Luck</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>


                    <div class="modal-body">
                        Are you sure you want to try your luck with your current selections ?
                    </div>


                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                        <button type="submit" (click)="onSubmit()" class="btn btn-primary" data-dismiss="modal"
                            data-toggle="modal" data-target="#exampleModal">Sure!!</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>



<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Error!!</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {{zeroSelectedError}}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>