.roulette_board{
    width: 700px;
    height: 200px;
}

.sizeSmall{
    width: 30%;
}

.roulette_board{
    height: 520px;
    width: 30%;
}

.selectionPanel{
    width: 50%;
}

.play_button{
    color: white;
}