.rechargeAmountButton {
	color: transparent;
	background-color: transparent;
	border-color: transparent;
}

.customerNameReadOnly {
	background-color: transparent;
	border-color: transparent;
	font-size: 18px;
	font-weight: bold;
}

.plusLogo {
	height: 35px;
	width: 35px;
}

.bodybg {
/* 	background: */
/* 		url("https://cmsstorage.rationalcdn.com/assets/psc/assets/common/images/games/roulette/thumb.jpg"); */
	background-repeat: no-repeat;
	background-size: 100%;
}